.postCard{
    overflow: hidden;
    margin: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    width: 80%;
    height: 38rem;
    position: relative;

}
.postTitle{
    color: rgb(81, 89, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16.62px;
    font-weight: 700;

}

.postBody{
    color: lightslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 200;
}
.postReactions{
    color: #B388EB;
    font-family: monospace;
    font-size: 12px;
}
.postHeader{
    position: relative;
}
.postCross{
    position: absolute;
    top: 20px;
    right: 20px;
}
