*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F4ED;
}


.nav-links{
    color: white
}
.feed-img{
    width: 100%;
    height: 25rem;
    object-fit: cover;

}
.user-pic{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    object-fit: cover; 
}

.content{
    width: 60%;
}

.post_form{
    width: 100%;
}
.post-tags{
    background-color: #F7AEF8;
}
.hashtag{
    margin: 0rem 0.3rem;
}
.reactions{
    margin: 0.6rem  0rem;
    width: 100%;
}
.create-post{
    width: 80%;
    margin-left: 10%;
    
}
.dodo{
    margin-left: auto;
}